/* font: #1f1717
dark-pieces: #34354e
light-pieces: #f4f7fa
light-check: #e7edfa
dark-check: #b5c0da
move-indicator: #b5a3ff
page-background: #f4f7fa


la-circle [&#xf111;]
<i class="las la-circle"></i>
<i class="lar la-circle"></i>

--
king me dog 
<i class="las la-times-circle"></i>
<i class="lar la-times-circle"></i>



*/
@import url('https://fonts.googleapis.com/css2?family=Pattaya&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Varela+Round&display=swap');

body {
  background-color: #f4f7fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #1f1717;
}

h1 {
  margin-bottom: 70px;
  align-items: center;
  font-family: 'Pattaya', sans-serif;
  font-weight: 400;
  font-style: normal;
}

#gameboard {
  width: 45vw;
  height: 45vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.square {
  width: 12.5%;
  height: 12.5%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.white {
  background-color: #e7edfa;
}
.black {
  background-color: #b5c0da;
}

@media (min-width: 600px) {
  .gameboard {
    width: 600px;
    height: 600px;
  }
}
